<nav class="navbar navbar-fixed-top navbar-light bg-light navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container pt-5" style="padding-bottom: 70px;">
    <div class="row">
        <div class="col-xs-12 col-lg-4 my-auto text-center">
            <%= image_tag 'me.png', class: "img-fluid mb-5", style: "max-width: 100%; height: auto; text-align: center; max-height: 400px" %>
        </div>
        <div class="col-xs-12 col-lg-8">
            <p>Hi! I'm Ben Skiff. I love to travel, enjoy nature, music, and sports. I was born and raised in Pittsburgh, Pennsylvania, USA. I received a bachelor's degree in physics with a minor in mathematics from Washington & Jefferson College in 2016. I first discovered writing code during the course of my studies, and fell in love with it. After graduating, I began working in the electronics engineering industry where I realized that writing code could bring me a life full of more passion.</p>
            <p>After 1.5 years in the electronics engineering industry, I decided to take the dive into web development and attended the Le Wagon Ruby on Rails bootcamp in January 2018, in Bali Indonesia. There I received intensive training in web development with Ruby on Rails, and met some cool people and had some great experiences along the way. </p>
            <p class="mb-5">Following the bootcamp, I began with some freelance web application development before working full-time at Invoice Home as a remote employee for about 2 years. I gained great experience learning from the best, building web applications, as well as having the opportunity to learn and build beautiful mobile applications for both iOS and Android. Since then, I have been working as a freelancer. I have worked remotely on projects for clients and employers who are based in the USA, Europe, and Asia. No matter where you are in the world, I can build the application you need!</p>
        </div>
    </div>
</div>
<nav class="navbar navbar-fixed-bottom navbar-dark bg-dark d-flex">
    <a href="https://www.linkedin.com/in/benjamin-skiff-a9569b155/" class="navbar-text mr-3" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://wa.me/14126203531" class="navbar-text mr-3" target="_blank"><i class="fab fa-whatsapp"></i></a>
    <a href="mailto:benskiff30@gmail.com" class="navbar-text" target="_blank"><i class="far fa-envelope"></i></a>
    <p class="navbar-text ml-auto my-auto">© Ben Skiff 2020</p>
</nav>