<nav class="navbar navbar-fixed-top navbar-light bg-light navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="padding-bottom: 70px;">
    <div class="row pt-5">
        <div class="col-12">
            <div class="row">
                <div class="col-12 d-flex justify-content-center" style="text-align:center; position:relative">
                    <h1>Ben Skiff</h1>
                </div>
            </div>
            <div class="row">                
                <div class="col-12 d-flex justify-content-center" style="text-align:center; position:relative">
                    <p>Web and Mobile Application Developer</p>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <%= image_tag 'profile.jpg', class: "fluid", style: "border-radius: 50%; object-fit: cover; width:230px; height:230px;"  %>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-1">
        </div>
        <div class="col-10 d-flex justify-content-center">
            <div class="row">
                <div class="col-12" style="text-align:center; position:relative">
                    <p>Hi! I'm Ben. I'm a full stack Web, iOS, and Android Application developer. I like to build things from scratch, going from concept to product. I am just as passionate about the logic of building a back end as I am crafting beautiful and flawless user experiences on the front-end.</p>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div> 
    </div>
    <div class="row pt-3">
        <div class="col-xs-12 col-sm-4 d-flex justify-content-center" style="text-align:center; position:relative">
            <ul style="list-style: none; padding: 0">
            <h3><i class="fas fa-globe pl-2"></i> Web</h3>
                <li>Ruby on Rails</li>
                <li>PostgreSQL</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>React</li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4 d-flex justify-content-center" style="text-align:center; position:relative">
            <ul style="list-style: none; padding: 0">
            <h3><i class="fab fa-apple pl-2"></i> iOS</h3>
                <li>Swift</li>
                <li>Flutter</li>
                <li>Ruby on Rails API</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 d-flex justify-content-center" style="text-align:center; position:relative">
            <ul style="list-style: none; padding: 0">
            <h3><i class="fab fa-android pl-2"></i> Android</h3>
                <li>Kotlin</li>
                <li>Flutter</li>
                <li>Ruby on Rails API</li>
            </ul>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12 d-flex justify-content-center" style="text-align:center; position:relative">
            <h1>Works</h1>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div id= "carouselInner" class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-10">
                        <div class="col-12 d-flex justify-content-center" style="text-align:center; position:relative">
                            <h3 class="card-title">Virtual Attention</h3>
                        </div>
                        <div class="col-12 d-flex justify-content-center" style="text-align:center; position:relative">
                            <div class="card px-4 py-3">
                                <%= image_tag 'virtualattention.png', class: "fluid card-img", style: "max-width: 100%; height: auto"  %>
                                <div class="card-body mt-3">
                                    <p class="card-text">Web app - built and architected from scratch</p>
                                    <p class="card-text">Stack - Ruby on Rails, PostgreSQL, ReactJS</p>
                                    <p class="card-text">Deployed with Heroku</p>
                                    <p class="card-text">Freelance project</p>
                                    <p class="card-text">My role - Build / architect backend myself in Rails, assist teammate in front-end networking, architecture, and bug fixes in React</p>
                                    <a href="https://www.virtualattention.com" target="_blank" class="btn btn-outline-info"><i class="fas fa-globe"></i> Live site</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-10">
                        <div class="col-12 d-flex justify-content-center" style="text-align:center; position:relative">
                            <h3 class="card-title">Invoice Home</h3>
                        </div>
                        <div class="col-12 d-flex justify-content-center" style="text-align:center; position:relative">
                            <div class="card px-4 py-3">
                                <%= image_tag 'invoicehome.png', class: "fluid card-img", style: "max-width: 100%; height: auto"  %>
                                <div class="card-body">
                                    <p class="card-text">iOS, Android, and Web app</p>
                                    <p class="card-text">Stack - Ruby on Rails, Swift, Kotlin, Flutter</p>
                                    <p class="card-text">Full time employee</p>
                                    <p class="card-text">My role - Build iOS and Android app from scratch, provide contributions to existing web app as part of a small team</p>
                                    <a href="https://www.invoicehome.com" target="_blank" class="btn btn-outline-info m-1"><i class="fas fa-globe"></i> Live site</a>
                                    <a href="https://apps.apple.com/us/app/invoice-maker-billing-app/id1435778692" target="_blank" class="btn btn-outline-info m-1"><i class="fab fa-apple"></i> iOS app</a>
                                    <a href="https://play.google.com/store/apps/details?id=com.invoicehome.invoicehome&hl=en_US" target="_blank" class="btn btn-outline-info m-1"><i class="fab fa-android"></i> Android app</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" tyle="color: black">
            <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
            <span class="sr-only"  aria-hidden="true">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon"  aria-hidden="true"></span>
            <span class="sr-only"  aria-hidden="true">Next</span>
        </a> 
        </div>
    </div>
    <div class="row pt-3 mb-5" id="contact">
        <div class="col-12 d-flex justify-content-center pt-3 pb-3" style="text-align:center; position:relative">
            <h1>Let's work together!</h1>
        </div>
        <div class="col-12 d-flex justify-content-center pt-3 pb-3" style="text-align:center; position:relative">
            <h3>Contact Me: </h3>
        </div>
        <div class="col-12 d-flex justify-content-center pt-2" style="text-align:center; position:relative">
            <p class="mr-1"><i class="far fa-envelope"></i> Gmail: </p><a href="mailto:benskiff30@gmail.com" target="_blank"> benskiff30@gmail.com</a>
        </div>
        <div class="col-12 d-flex justify-content-center pt-2" style="text-align:center; position:relative">
            <p class="mr-1"><i class="fab fa-whatsapp"></i> Whatsapp: </p><a href="https://wa.me/14126203531" target="_blank"> +1-412-620-3531</a>
        </div>
        <div class="col-12 d-flex justify-content-center pt-2" style="text-align:center; position:relative">
            <p class="mr-1"><i class="fab fa-linkedin"></i> LinkedIn: </p><a href="https://www.linkedin.com/in/benjamin-skiff-a9569b155/" target="_blank"> My LinkedIn</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-dark bg-dark d-flex">
    <a href="https://www.linkedin.com/in/benjamin-skiff-a9569b155/" class="navbar-text mr-3" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://wa.me/14126203531" class="navbar-text mr-3" target="_blank"><i class="fab fa-whatsapp"></i></a>
    <a href="mailto:benskiff30@gmail.com" class="navbar-text" target="_blank"><i class="far fa-envelope"></i></a>
    <p class="navbar-text ml-auto my-auto">© Ben Skiff 2020</p>
</nav>
