// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}